<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Weather App</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Generate City Weather Information from API!!!</h1>
                            <form class="form-subscribe" id="contactForm" method="POST" >
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" name="city" placeholder="Enter City Name..." />
                                        {% csrf_token %}
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg "  type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
              <div class="jumbotron">
                  {% if country %}
               <h1>Weather in {{country}}</h1>
                  <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>
                <h4><span class="badge badge-primary">Coordinates [X,Y] :</span> {{coordinate}}</h4>
                <h4><span class="badge badge-primary">Temperature in Celsius :</span> {{temperature}}</h4>
                <h4><span class="badge badge-primary">Pressure :</span> {{pressure}} </h4>
                <h4><span class="badge badge-primary">Humidity : </span> {{humidity}}</h4>
                <h4><span class="badge badge-primary">Forecast : </span> {{cloud}} <img
                        src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
                <h4><span class="badge badge-primary">Description : </span> {{description}}</h4>

                    {% endif %}
        </div>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">

            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
